.navbar
    .navbar-inner
        ul.nav.nav-tabs.nav-inverse
            li.active
                a(data-target='#home', data-toggle='tab') Home
            li
                a(data-target='#syllabus', data-toggle='tab') Syllabus
            li
                a(data-target='#handouts', data-toggle='tab') Handouts
