extends layout

block content
    .tab-content
        .tab-pane#home.fade.active.in
            h1 This is the homepage
        .tab-pane#syllabus.fade
            h1 This is the syllabus
        .tab-pane#handouts.fade
            h1 This is for handouts